spring:
  application:
    name: spring-ai-mcp
  ai:
    mcp:
      client:
        enabled: true
        type: SYNC
        sse:
          connections:
            docker-mcp-gateway:
              url: http://docker-mcp-gateway:8000
              sse-endpoint: /sse
    anthropic:
      api-key: ${ANTHROPIC_API_KEY}
      chat:
        options:
          model: claude-sonnet-4-6
